include LICENSING.rst
include README.rst
include ChangeLog.rst

recursive-include tests *
recursive-include requirements *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile
recursive-include certs *.pem
